.container{
    @apply flex flex-col justify-start items-center;
    @apply p-4;
    width: 350px;
    height: 100%;
    background-color: #DEE2E6;
    border-radius: 15px 15px 0 15px;
    box-shadow: 0 4px 10px gray;
}
.logo_container{
    @apply py-1 flex justify-start items-center;
    height: 50px;
    width: 100%;
    border-radius: 50px 10px 10px 50px;
    background-color: #343A40;
    img{
        filter: brightness(0);
    }
}