/*TODO:
    * Distribute the CSS according to Components
 */
 body{
    background-color: rgb(255, 253, 253);
 }
*{
    color: rgb(0, 0, 0);
}
body{
    color: white;
    margin: 0;
}
.logo{
    position: fixed;
    left: 0;
    top: 10px;
    width: fit-content;
    border-radius: 0 10px 10px 0;
    background-color: #a4ffb4;
    display: flex;
    padding: 10px 10px 10px 0;
    color: black;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    transition: all 200ms ease-in-out;
}
.logo:hover {
    transform: translateY(-2px);
    box-shadow: #121212 0 2px 3px;
}
.logo img{
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin-left: 10px;
}
.options{
    position:fixed;
    padding: 10px 10px;
    text-align: center;
    color: rgb(8, 8, 8);
    text-decoration: wavy;
    left: 0;
    top:100px;
    width: 15vw;
    height: 50%;
    background-color: #ffffff;
    border-radius: 0 10px 10px 0;
}
.options h1{
    color: black;
    margin-bottom: 4px;
}
.single-option-list{
    position: absolute;
    width: 90%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.code{
    position: fixed;
    left: 330px;
    height: 100%;
    width: 42.5vw;
    padding: 0;
}
#code-area{
    position: absolute;
    color: transparent;
    caret-color: white;
    bottom: -1px;
    width: 100%;
    height: 93%;
    padding: 5%;
    box-sizing: border-box;
    border: 2px solid #585757;
    border-radius: 4px;
    background-color: #1b1b1b;
    font-size: 1.3rem;
    resize: none;

}
#code-area:focus{
    outline: none !important;
    border-color: #8a8a8a;
}
.highlight{
    font-size: 1.3rem;
    position: fixed;
    top: 89px;
    left: 352px;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
}
.display{
    position: fixed;
    right: 0;
    bottom: 0px;
    width: 40vw;
    height: 93%;
}
.display iframe{
    height: 100%;
    width: 100%;
}
.number-input{
    position: absolute;
    right: 0;
    display: flex;
    gap: 2px;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.number-input input{
    text-align: center;
    color: #121212;
    background-color: transparent;
    width: 30px;
    height: 25px;
    border: 1px solid rgb(56, 56, 56);
    border-radius: 10px;
}
.number-input input:focus{
    outline: none !important;
    border-color: #8a8a8a;
}