.container {
    @apply pr-5;
    width: 100%;
    min-height: 200px;
    max-height: 250px;
    overflow-y: auto;

    .sub_container {
        @apply flex flex-col items-center justify-center;
    }
}

.single_section_container {
    @apply flex flex-row justify-between items-center rounded-xl;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #343A40;
    color: white;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    margin-left: 2px;

    &.active {
        // @apply rounded-2xl;
        outline: 2px #4592de solid;
    }

    h2 {
        @apply text-xl;
    }

    button {
        @apply mr-3 text-2xl text-red-500;
        opacity: 0;
        user-select: none;
        transition: all 100ms ease-in-out;

        &:active {
            transform: scale(0.9);
        }

        &:hover {
            opacity: 1;
        }
    }
}

.addButtonContainer {
    @apply mx-auto;
    width: 50%;
    text-align: center;
    transition: all 150ms ease-in-out;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 7px;

    div{
        opacity: 0;
        transition: all 150ms ease-in-out;
        &:active{
            transform: scale(0.9);
        }
    }

    &:hover {
        max-height: 20px;
        div {
            opacity: 1;
        }
    }

}